
<div class="widget widget-links mb-grid-gutter pb-grid-gutter border-bottom mx-lg-2">
    <h3 class="widget-title">{{ heading_title_category }}</h3>
    {% if categories %}
    <ul class="widget-list">
        {% for category_1 in categories %}
        <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" href="{{ category_1.href }}"><span>{{ category_1.name }}</span></a></li>


            {% endfor %}
    </ul>
    {% endif %}
</div>




