@font-face {
  font-family: 'FuturaPT-Bold';
  src: url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.otf") format("opentype"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype"), url("../fonts/FuturaPT-Bold.svg#FuturaPT-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-DemiBold';
  src: url("../fonts/FuturaPT-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-DemiBold.otf") format("opentype"), url("../fonts/FuturaPT-DemiBold.woff") format("woff"), url("../fonts/FuturaPT-DemiBold.ttf") format("truetype"), url("../fonts/FuturaPT-DemiBold.svg#FuturaPT-DemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Book';
  src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype"), url("../fonts/FuturaPT-Book.svg#FuturaPT-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

#Dyson_m_00 #Dyson_m_01 {
  /*! background: #000; */
  font-family: "FuturaPT-Bold"; 
}

 #lp-dsn .brd {
  border: 1px solid #ececec !important;
  }


 #lp-dsn *{
    box-sizing:inherit;
}
 #lp-dsn{
    box-sizing:border-box;
    font-family: FuturaPT-Book;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -ms-overflow-style:scrollbar;
    -webkit-tap-highlight-color:transparent;
    margin:0;
}
 #lp-dsn a{
    color:#000;
    text-decoration:none;
}

 #lp-dsn a:hover{
    opacity:0.8;
    text-decoration:none
        -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

 #lp-dsn .bg-primary{
    background-color:#000!important
}
 #lp-dsn .d-block{
    display:block!important
}
 #lp-dsn .nav-fix{
    margin:auto
}
 #lp-dsn .py-5{
    padding-top:0!important;
    padding-bottom:0!important
}
 #lp-dsn .btn_sm{
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    user-select:none;
    border:1px solid transparent;
    font-size:15px;
    line-height:2;
    border-radius:0;
    transition:all .2s ease-in-out;
    width:150px;
    margin-bottom:5px;
    margin-top:10px;
}
 #lp-dsn .btn_sm:focus,#lp-dsn .btn_sm:hover{
    text-decoration:none
}
 #lp-dsn .btn_sm:focus{
    outline:0;
    box-shadow:0 0 0 2px rgba(2,117,216,0.25)
}
 #lp-dsn .btn_sm:disabled{
    cursor:not-allowed;
    opacity:.65
}
 #lp-dsn .btn_sm:active{
    background-image:none
}
 #lp-dsn .btn-primary{
    color:#000;
    background-color:#ea009300;
    border-color:#000
}
 #lp-dsn .btn-primary:hover{
    color:#fff;
    background-color:#333;
    border-color:#000
}
 #lp-dsn .btn-primary:focus{
    box-shadow:0 0 0 2px rgba(2,117,216,0.5)
}
 #lp-dsn .btn-primary:disabled{
    background-color:#0275d8;
    border-color:#0275d8
}
 #lp-dsn .btn-primary:active{
    color:#fff;
    background-color:#535353;
    background-image:none;
    border-color:#505050
}
 #lp-dsn .container{
    padding-right:0;
    padding-left:0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1485px;
}
 #lp-dsn .row{
    display:flex;
    flex-wrap:wrap;
    margin-right:0;
    margin-left:0
}
 #lp-dsn .col-md-4,.col-md-6,.col-md-8,.col-md-12{
    position:relative;
    width:100%;
    min-height:0;
}
 #lp-dsn .img-fluid{
    max-width:100%;
    height:auto;
    margin:auto
}

 #lp-dsn .img-fluid2{
    max-width:40%;
    height:auto;
    margin:auto
}

 #lp-dsn .nav-link{
    display:block;
    margin: auto;
    vertical-align: middle;
}
 #lp-dsn .nav-link:focus,#lp-dsn .nav-link:hover{
    text-decoration:none
}
 #lp-dsn .navbar{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 1.3rem 1rem;
    -webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,0.37);
    -moz-box-shadow:0 5px 10px 0 rgba(0,0,0,0.37);
    box-shadow:0 5px 10px 0 rgba(0,0,0,0.37);
    z-index:100;
}
 #lp-dsn .navbar > .container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:auto
}
 #lp-dsn .navbar-brand{
    max-width: 240px;
}
 #lp-dsn .navbar-brand:focus,#lp-dsn .navbar-brand:hover{
    text-decoration:none
}
 #lp-dsn .navbar-nav{
    display:flex;
    padding-left:0;
    margin-bottom:0;
    list-style:none;
    text-align:center;
    margin-top: 0px;
}
 #lp-dsn .navbar-nav .nav-link{
    padding-right:0;
    padding-left:0;
    margin-top: 10px;
    margin-bottom: 10px;
}
 #lp-dsn .navbar-inverse .navbar-brand{
    color:#fff;
    width: 100%;
}
 #lp-dsn .navbar-inverse .navbar-brand:focus,#lp-dsn .navbar-inverse .navbar-brand:hover{
    color:#fff
}
 #lp-dsn .navbar-inverse .navbar-nav .nav-link{
    color:white;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
 #lp-dsn .navbar-inverse .navbar-nav .nav-link:focus,#lp-dsn .navbar-inverse .navbar-nav .nav-link:hover{
    opacity:1;
}
 #lp-dsn .lead{
    font-size:160%;
    font-weight:300;
    margin-bottom:5px;
    width:100%;
    font-family:FuturaPT-Book,sans-serif;
    margin-top: 10px;
}
 #lp-dsn .lead-2{
    font-size:2rem;
    font-weight:300;
    margin-bottom:0;
    font-family:FuturaPT-Book,sans-serif;
}
 #lp-dsn .para-2{
    margin-top:10px;
    font-size: 120%;
}

#lp-dsn .para {
margin-top:10px;
    font-size: 100%;
    max-width: 300px;
margin: auto;
}

 #lp-dsn .purple{
    color:#c4398d;
}
 #lp-dsn .glow{
    box-shadow:3px 4px 49px 46px #ffffff85;
    background-color:#ffffff85
}
 #lp-dsn .col-md-6{
    border-bottom:0 solid gray
}
#lp-dsn .index-pad {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
 #lp-dsn .index-pad-2{
    margin-left:5px;
    margin-right:5px
}

#lp-dsn .index-pad-3 {
    margin-left: 0px;
    margin-right: 0px;
}

 #lp-dsn .index-nopad{
    padding-left:0;
    padding-right:0
}
 #lp-dsn .nav-item{
    line-height:1;
    font-size:20px;
    margin:auto;
    margin-left:10px;
    margin-right:10px;
}
 #lp-dsn .txt-in{
    position:absolute;
    top:10%;
    left:10%;
    max-width: 40%;
}
 #lp-dsn .txt-b-in{
    bottom:0;
    text-align:center;
    width:100%
}
 #lp-dsn .txt-j-in{
    position:absolute;
    top:9%;
    left:7%;
    width:42%;
}
 #lp-dsn .txt-k-in{
    position:absolute;
    bottom: 15px;
    text-align:center;
    width:100%;
    padding-left:10px;
    padding-right:10px;
}
 #lp-dsn .row{
    overflow:hidden
}
 #lp-dsn .playbtn{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:5%;
    min-width:70px;
    cursor:pointer
}
 #lp-dsn .tag{
    font-family:Dyson Sans,Futura PT!important;
    font-weight:600;
    margin-top:25px;
    min-height:45px;
}
 #lp-dsn .orange {
    color: #f07f3c;
}
 #lp-dsn .gray{
    color:#9d9d9c
}
 #lp-dsn .topup{
    margin-top:10px
}
 #lp-dsn .col-md-6{
    flex:0 0 50%;
    max-width:50%;
    padding-left:5px;
    padding-right:5px
}
 #lp-dsn .col-md-8{
    flex:0 0 66.66667%;
    max-width:66.66667%
}
 #lp-dsn .col-md-3{
    flex:0 0 25%;
    max-width:25%;
    padding-left:5px;
    padding-right:5px
}
 #lp-dsn .matrix {
    padding: 30px;
    padding-top: 0px;
}

#lp-dsn .matrix-2 {
    padding: 10px;
    padding-top: 0px;
}


 #lp-dsn .col-md-4{
    flex:0 0 33.33333%;
    max-width:33.33333%;
    text-align:center
}
 #lp-dsn .col-md-5{
    flex:0 0 49.99997%;
    max-width:49.99997%;
    margin:auto
}
 #lp-dsn .text-center{
    text-align:center
}
 #lp-dsn .btn{
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    user-select:none;
    border:1px solid transparent;
    padding:.5rem 1rem;
    font-size:20px;
    line-height:1.25;
    border-radius:0;
    transition:all .2s ease-in-out;
    width:100%;
    margin: auto;
}
 #lp-dsn .buynow{
    width:300px;
    margin:auto
}
 #lp-dsn .btn-primary{
    color:#fff;
    background-color:#333;
    border-color:#000;
}
 #lp-dsn hr{
    color:#000000;
    margin-top:0
}
 #lp-dsn .white{
    color:#fff;
    text-shadow:none
}
 #lp-dsn .caveat{
    font-size:12px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
 #lp-dsn h1 {
     font-weight: 300;
}
 #lp-dsn .maxw {
     max-width: 300px!important;
}
 #lp-dsn .pad-d {
     padding-bottom: 20px;
     padding-top: 40px;
     background-color: black;
     margin: 0;
}
 #lp-dsn .txt-g-in {
     position: absolute;
     top: 10%;
     text-align: center;
     width: 100%;
}
 #lp-dsn .gray{
    color:#9d9d9c
}
 #lp-dsn .red{
    color:#cd1719
}
 #lp-dsn .blue{
    color:#0892cd
}
 #lp-dsn .aqua{
    color:#43c5e7
}
 #lp-dsn b, strong {
     font-weight: bolder;
}
 #lp-dsn p {
     margin-top: 0;
     margin-bottom: 5px;
}
 @media only screen and (max-width: 800px) {
     #lp-dsn .navbar-nav{
        flex-direction:column!important
    }
     #lp-dsn .col-md-3{
        flex:0 0 100%;
        max-width:100%;
        padding-left:5px;
        padding-right:5px
    }
     #lp-dsn .col-md-4{
        flex:0 0 100%;
        max-width:100%;
        padding-left:5px;
        padding-right:5px;
        text-align:center
    }
     #lp-dsn .col-md-6{
        flex:0 0 100%;
        max-width:100%;
        padding-left:5px;
        padding-right:5px
    }
     #lp-dsn .col-md-8{
        flex:0 0 100%;
        max-width:100%;
        padding-left:5px;
        padding-right:5px
    }
     #lp-dsn .deny{
        display:none !important;
        visibility: hidden;
    }
     #lp-dsn .deny-2{
        display:none !important;
        visibility: hidden;
    }
     #lp-dsn .lead-2{
        font-size: 1.4rem !important;
        line-height: 23px;
        font-weight: 400;
        font-family: Arial, sans-serif;
    }
     #lp-dsn .para-2{
    }
     #lp-dsn .txt-in{
        max-width: 55%;
    }
     #lp-dsn .nav-item {
         margin-left: 10px;
         margin-right: 10px;
         margin-top: 10px;
         margin-bottom: 5px;
         padding-left:10px;
         padding-right:10px;
    }
     #lp-dsn .index-pad-2 {
         margin-left: 0px;
         margin-right: 0px;
    }
     #lp-dsn .nav-item {
         margin-left: 10px;
         margin-right: 10px;
         border: 1px solid #4b4b4b;
         margin-top: 10px;
         margin-bottom: 5px;
         padding-left:10px;
         padding-right:10px;
    }
}
 @media only screen and (min-width: 800px) {
     #lp-dsn .allow {
        display:none!important;
        visibility: hidden;
    }
}
 @media (min-width: 1268px) {
     .lead-2 {
         font-size: 2.2rem !important;
         line-height: 50px;
    }
     .para-2 {
         margin-top: 10px;
    }
}
