// 
// user-variables.scss
// Use this to override Bootstrap and Cartzilla variables
//

// Example of a variable override to change Cartzilla background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;

// @import '../../node_modules/bootstrap/scss/variables';

// @import '../../dist/vendor/bootstrap/scss/functions';
// @import '../../dist/vendor/bootstrap/scss/mixins';
// @import '../../dist/vendor/bootstrap/scss/variables';

// @import '../../dist/vendor/bootstrap/scss/bootstrap';


// Custom Grayscale
$light: #F5F5F5;
$gray-l2: #E3E3E3;
$gray-l1: #A8A8A8;
$gray: #828282;
$gray-d1: #5C5C5C;
$gray-d2: #363636;
$dark: #171717;


// Grayscale
$gray-100: #FCFCFC !default;
$gray-200: #F9F9F9 !default;
$gray-300: #EFEFEF !default;
$gray-400: #E7E7E7 !default;
$gray-500: #BEBEBE !default;
$gray-600: #9C9C9C !default;
$gray-700: #6B6B6B !default;
$gray-800: #505050 !default;
$gray-900: #454545 !default;


// Brand colors
$primary: #E31318;
$accent: #1B84E5;
$secondary: $gray;

$primary-l3: #FCA2A4;
$primary-l2: #FC7477;
$primary-l1: #FC474B;
$primary-d1: #CF0E13;
$primary-d2: #B80D11;
$primary-d3: #A10D11;


// Other Colors
$primary-lightest: #fff8f9;


// Links
$link-color: $secondary;
$link-hover-color: darken($link-color, 15%);


// Custom Grid Gutter
$grid-gutter-width: 1.875rem !default;
$grid-gutter-width-half: $grid-gutter-width / 2;
$grid-gutter-width-10px: $grid-gutter-width-half - 0.313rem;


// Forms

// Inputs
$input-border-color: #E7DADA;
$input-btn-font-size: 1rem;
$input-font-weight: 300; 
$input-color: $gray;
$input-focus-color: $dark; 

// Focus/Checked
$form-select-focus-border-color: $accent;
$form-check-input-focus-border: $accent;
$form-check-input-checked-bg-color: $accent;
$form-check-input-checked-border-color: $accent;

$form-select-color: $input-focus-color;
$form-select-font-weight: $input-font-weight;



// Border 
$border-color: $gray-l2;


// Border Radius
$border-radius: 0.375rem;
$border-radius-lg: 0.563rem;
$border-radius-sm: 0.188rem;

$border-radius-big: 1.5rem;
 
 
// Breakpoints as variables
$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1400px
);

$sm: map-get($grid-breakpoints, "sm");
$md: map-get($grid-breakpoints, "md");
$lg: map-get($grid-breakpoints, "lg");
$xl: map-get($grid-breakpoints, "xl");
$xxl: map-get($grid-breakpoints, "xxl");

// Example
// @media (any-pointer: coarse) and (max-device-width: $lg) {}


// Shadow
$box-shadow-header: 0px 2px 3px rgba(0, 0, 0, 0.09),
0px 1px 21px rgba(0, 0, 0, 0.15);

// Off-canvas
$offcanvas-width:  20rem;


// Transitions
$transition-default: 0.35s cubic-bezier(0.16, 1, 0.3, 1); // Without transition property
$transition-time-default: 0.35s; 
$transition-animation-default: cubic-bezier(0.16, 1, 0.3, 1); 


// RFS
$enable-responsive-font-sizes: true;
$rfs-breakpoint: 1500px;
$rfs-base-value: 1rem;
// @include font-size(16px);


// Fonts
$path-to-fonts: 'https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap';


// FontAwesome
$fa-font-path: "../../dist/fonts/fa-fonts";