// 
// user-variables.scss
// Use this to override Bootstrap and Cartzilla variables
//

// Example of a variable override to change Cartzilla background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;

// @import '../../node_modules/bootstrap/scss/variables';

// @import '../../dist/vendor/bootstrap/scss/functions';
// @import '../../dist/vendor/bootstrap/scss/mixins';
// @import '../../dist/vendor/bootstrap/scss/variables';

// @import '../../dist/vendor/bootstrap/scss/bootstrap';

// Custom Grayscale
 $light:   #F5F5F5;
 $gray-l2: #E3E3E3;
 $gray-l1: #A8A8A8;
 $gray:    #828282;
 $gray-d1: #5C5C5C;
 $gray-d2: #363636;
 $dark:    #171717;

// Brand colors
$primary:               #E31318;
$accent:                #1B84E5;
$secondary:             $gray;


// Custom grid
$grid-gutter-width: 1.875rem !default;
$grid-gutter-width-half:   $grid-gutter-width / 2;  
$grid-gutter-width-10px:   $grid-gutter-width-half - 0.313rem;  



// FontAwesome
$fa-font-path:  "../../dist/fonts/fa-fonts";