//
// CATEGORY
// --------------------------------------------------



// - - - - - - - - - - - - - - - -
// Product Holder
// .product-holder {}



// - - - - - - - - - - - - - - - -
// Product Filter
.product-filter {
    background-color: $white;
    border: 1px solid $light;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.03), 0px 6px 24px rgba(0, 0, 0, 0.06);

    .dropdown .btn[aria-expanded="true"] {
        background-color: $light;

        &:hover {
            background-color: $gray;
        }
    }
}



// - - - - - - - - - - - - - - - -
// Product Pagination

.pagination {

    .page-item {
        padding: 0.2rem;

    }

    .page-link {
        padding: 0.5rem 1rem;
        box-shadow: 0px 3px 6px rgba($black, 0.06), 0px 1px 14px rgba($black, 0.06), 0px 1px 12px rgba($primary-l3, 0.18), 0px 3px 18px rgba($black, 0.12);
    }
}


// - - - - - - - - - - - - - - - -
// Category Title
.category-page-title {
    font-size: 2.063rem;
    font-weight: 500;
    margin-bottom: 0.5rem;

    a {
        color: $dark;
    }
}



// - - - - - - - - - - - - - - - -
// Product Card

.product-card {
    position: relative;
    height: 100%;
    background-color: $light;
    padding-bottom: 0;
    box-shadow: 0px 1px 2px rgba($black, 0.03), 0px 3px 5px rgba($black, 0.04);
    line-height: 1.2;


    // Card Body
    .card-body {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        padding: 0;
    }

    // Streched Link
    .stretched-link {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    // Image
    .card-img-top {
        position: relative;
        border-radius: 0.563rem;

        img {
            width: 100%;
        }

        &::after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient($light, $light);
            mix-blend-mode: multiply;
        }

    }

    // Button Basket
    .btn-basket {
        z-index: 99;
        position: absolute;
        right: 0.75rem;
        bottom: 1rem;
        // box-shadow: 0px 3px 54px rgba($black, 0.15), 0px 2px 36px rgba($black, 0.15), 0px 3px 12px rgba($black, 0.18);
        // box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(23, 23, 23, 0.9);
        box-shadow:  0 0.5rem 1.125rem -0.5rem rgba(227, 19, 24, 0.9), 0 0.5rem 1.125rem -0.5rem rgba(23, 23, 23, 0.3);

        // border: 1px solid $primary-l1;

        &:hover {
            box-shadow: $box-shadow-sm;
        }

        @media (any-pointer: fine) and (hover: hover) {
            opacity: 0;
            visibility: hidden;
            transition: all $transition-default;
        }

        // @include media-breakpoint-up(lg) {
        //     opacity: 0;
        //     visibility: hidden;
        //     transition: all $transition-default;
        // }

    }


    // Product Badge Discount
    .product-badge-cpta__discount {
        margin: 0.625rem;
        margin-top: 0;
        padding: 0;
        max-height: max-content;
    }


    // Common 
    .product-title,
    .product-price,
    .product-badge-cpta__discount,
    .product-price--web,
    .product-delivery-time {
        display: flex;
        padding: 0.625rem 0.75rem;
        align-items: center;
    }



    // Product Delivery Time
    .product-delivery-time {
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
        font-size: 0.75rem;
        font-weight: 300;
        margin-bottom: 0;
        border-bottom: 1px solid $gray-l2;

        a {
            color: $gray-d1;
        }

        i {
            font-size: 1.125rem;
            color: $gray-l1;
            align-self: flex-start;
            margin-right: 0.75rem;
            margin-top: 0.375rem;
        }

        &--immediately {}
    }


    // Product Title
    .product-title {
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 0;
        border-bottom: 1px solid $gray-l2;
        color: $gray-d1;

        // a {
        //     color: $gray-d1;
        // }
    }


    // Product Price
    .product-price {
        font-size: 1.125rem;
        flex-wrap: wrap;

        del {
            color: $gray;
            font-weight: 300;
        }

        span:first-child,
        span:only-child {
            font-weight: 700;
            color: $gray-d1;
        }

        span:first-child {
            margin-right: 0.5rem;
        }
    }

    // Product Price Web
    .product-price--web {
        font-size: 1.125rem;
        flex-wrap: wrap;
        border-bottom: 0;
        border-top: 1px solid $gray-l2;

        span:first-child {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 300;
            color: $gray;
            margin-right: 0.5rem;
            min-width: max-content;
        }

        span:last-child {
            color: $accent;
            font-weight: 500;
        }


    }

    // span:last-child {
    //     color: $dark;
    //     border-radius: 0 100px 100px 0;
    // }


    // Badge - Free shipping
    .product-badge-cpta__free-shipping {
        width: max-content;
        position: absolute;
        top: 1rem;
        left: 0.75rem;
        line-height: 1.5;

        span {
            width: auto;
            margin-right: 0.5rem;
        }

        @media (any-pointer: fine) and (hover: hover) {
            width: 50px;

            transition: all 0.2s $transition-animation-default;

            span {
                position: absolute;
                top: 0.625rem;
                left: 10px;
                visibility: hidden;
                opacity: 0;
                margin-right: 0;

                transition: all 0.1s $transition-animation-default;
            }
        }

        // @include media-breakpoint-up(lg) {
        //     width: 50px;

        //     transition: all 0.2s $transition-animation-default;

        //     span {
        //         position: absolute;
        //         top: 0.625rem;
        //         left: 10px;
        //         visibility: hidden;
        //         opacity: 0;
        //         margin-right: 0;

        //         transition: all 0.1s $transition-animation-default;
        //     }
        // }
    }


    // Product Badge Discount
    .product-badge-cpta__discount {
        margin: 0.625rem;
        margin-top: 0;
        padding: 0;
        max-height: max-content;
    }


    // Product Delivery Time
    .product-delivery-time {
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
        font-size: 0.75rem;
        font-weight: 300;
        color: $gray-d1;
        background-color: $white;
        border-radius: 0 0 $border-radius-lg $border-radius-lg;
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        border-bottom: 1px solid $light;
        border-top: 1px solid $gray-l2;

        span:first-child {
            text-transform: uppercase;
        }

        span:last-child {
            color: $dark;
            font-weight: 400;
            font-size: 0.875rem;
        }

        i {
            font-size: 1.125rem;
            color: $gray-l1;
            align-self: flex-start;
            margin-right: 0.75rem;
            margin-top: 0.375rem;
        }

        &--immediately {}
    }







    // - - - - - - - - -
    // Card - Hover
    &:hover:not(.card-static) {
        box-shadow: 0px 3px 14px rgba($black, 0.06), 0px 3px 6px rgba($black, 0.09), 0px 3px 27px rgba($black, 0.09);
        // background-color: $white;



        // Button Basket
        .btn-basket {

            @media (any-pointer: fine) and (hover: hover) {
                opacity: 1;
                visibility: visible;
            }

            // @include media-breakpoint-up(lg) {
            //     opacity: 1;
            //     visibility: visible;
            // }
        }

        // Product Title
        .product-title {
            color: $primary;

            transition: all $transition-default;

            // a { 
            //     color: $primary;
            // }
        }

        // Badge - Free shipping
        .product-badge-cpta__free-shipping {
            width: max-content;

            @media (any-pointer: fine) and (hover: hover) {
                width: 190px;

                span {
                    top: 0.07rem;
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.27s cubic-bezier(0.83, 0, 0.17, 1);
                }
            }

            // @include media-breakpoint-up(lg) {
            //     width: 190px;

            // span {
            //         top: 0.07rem;
            //         visibility: visible;
            //         opacity: 1;
            //         transition: all 0.27s cubic-bezier(0.83, 0, 0.17, 1);
            //     }
            // }
        }

    }



}



// - - - - - - - - - - - - - - - -
// Product Badge

.product-badge-cpta {
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.375rem 0.625rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    max-height: 20px;
    letter-spacing: 0.03rem;


    // Free shipping
    &__free-shipping {
        color: $white;
        background-color: $accent;

        i {
            font-size: 1.5rem;
            margin-left: auto;
            margin-bottom: -2px;
        }
    }


    // Discount
    &__discount {
        border: 1px solid $dark;
        // overflow: hidden;
        padding: 0;
        justify-content: space-between;
        max-height: auto;

        span {
            flex: 1;
            padding: 0.188rem 0.625rem;
            text-align: center;
        }

        span:first-child {
            color: $light;
            background-color: $dark;
            border-radius: 100px 0 0 100px;
        }

        span:last-child {
            color: $dark;
            border-radius: 0 100px 100px 0;
        }
    }

}


// - - - - - - - - - - - - - - - -
// Custom grid for Categories

.product-card-wrapper {
    margin-bottom: 2.25rem;
    // min-width: 16rem;
    // max-width: 22rem;

    @media only screen and (min-width: 565px) {
        width: 50%;
        min-width: 50%;
        max-width: 50%;
    }

    @media only screen and (min-width: 830px) {
        width: 33.3333333333%;
        min-width: 33.3333333333%;
        max-width: 33.3333333333%;
    }

    @include media-breakpoint-up(lg) {
        width: 50%;
        min-width: 50%;
        max-width: 50%;
    }

    @media only screen and (min-width: 1150px) {
        width: 33.3333333333%;
        min-width: 33.3333333333%;
        max-width: 33.3333333333%;
    }

    // @include media-breakpoint-up(xl)  {}

    @media only screen and (min-width: 1460px) {
        width: 25%;
        min-width: 25%;
        max-width: 25%;
    }

    @media only screen and (min-width: 1730px) {
        width: 20%;
        min-width: 20%;
        max-width: 20%;
    }


}