//
// PAGINATION
// --------------------------------------------------


// - - - - - - - - - - - - - - - -
// Product Pagination

.pagination {

    .page-item {
        padding: 0.2rem;

    }

    .page-link {
        padding: 0.5rem 1rem;
        color: $gray-d1;
        font-size: 1.125rem;
        // box-shadow: 0px 3px 6px rgba($black, 0.06), 0px 1px 14px rgba($black, 0.06), 0px 1px 12px rgba($primary-l3, 0.18), 0px 3px 18px rgba($black, 0.12);
    }
}
