
<!--<h2 class="h6 pt-1 pb-3 mb-3 mt-3 border-bottom">{{ text_instruction }}</h2>
  <p>{{ bank }}</p>-->

<div class=" d-flex pt-4">
  <div class="w-50 pe-3"><a class="btn btn-outline-primary d-block w-100" id="back-to-payment-method" href="javascript:;"><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Vaši podaci</span><span class="d-inline d-sm-none">Vaši podaci</span></a></div>
  <div class="w-50 ps-2"><button class="btn btn-primary d-block w-100" type="button" id="button-confirm" ><span class="d-none d-sm-inline">{{ button_confirm }}</span><span class="d-inline d-sm-none">{{ button_confirm }}</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></button></div>
</div>



<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/payment/bank_transfer/confirm',
		dataType: 'json',
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {
			if (json['redirect']) {
				location = json['redirect'];	
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
