



<div class=" d-flex pt-4">
  <div class="w-50 pe-3"><a class="btn btn-outline-primary d-block w-100" onclick="window.scrollTo(0, 0)" id="button-shipping-method" href="javascript:;"><i class="fal fa-chevron-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Povratak</span><span class="d-inline d-sm-none">Povratak</span></a></div>
  <div class="w-50 ps-2"><button class="btn btn-success  d-block w-100" type="button" id="button-confirm" ><span class="d-none d-sm-inline">Naruči</span><span class="d-inline d-sm-none">Naruči</span> <i class="fal fa-chevron-right mt-sm-0 ms-1"></i></button></div>
</div>

<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/payment/cod/confirm',
		dataType: 'json',
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {
			if (json['redirect']) {
				location = json['redirect'];	
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
