<!--<div id="search" class="input-group">
  <input type="text" name="search" id="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>-->

<div id="searchmobile" class="input-group "><i class="fas fa-search position-absolute top-50 start-0 translate-middle-y ms-3" style="z-index:1000"></i>
  <input class="form-control rounded-start" name="search-mobile" type="text" placeholder="Pretraži proizvode">
  <button type="submit" class="btn btn-default btn-lg d-none "><i class="fas fa-search"></i></button>
</div>